{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'TzarioGames/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'TzarioGames/index_html.css' %}" />
    <script src="{%  static 'TzarioGames/jquery-3.1.1.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="{%  static 'TzarioGames/bootstrap.min.js' %}"></script>

    <meta charset="UTF-8">
    <title>Tzario</title>
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
</head>
<body>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Tzar.io</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-auto">
              <li class="nav-item">
                  <a class="btn btn-outline-secondary" href="/random/" role="button">Random Game</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact/">Contact</a>
              </li>
          </ul>
      </div>
    </nav>

    <br>

    <div class="container">
        <div class="card bg-faded">
          <div class="card-block">
            <h1 class="card-title">Welcome</h1>
              <hr class="my-4">
            <p class="card-text lead">To the largest library of HTML5 games</p>
          </div>
        </div>
        <br>
        <div class="card text-center col-12">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#popular" role="tab">Popular</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#mobile" role="tab">Mobile-Friendly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#freeworld" role="tab">Open World</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#strategy" role="tab">Strategy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#shooter" role="tab">Shooter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#racing" role="tab">Racing</a>
                </li>
            </ul>
          </div>
          <div class="card-block">
            <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="popular" role="tabpanel">
              <div class="row">
                  {% for game in unformat_game_list %}
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 py-2" data-visits="{{ game.game_visits }}" data-name="{{ game.game_name }}">
                      <a href="{% url 'TzarioGames:game' game.game_name %}" >
                        <img src="media/{{ game.game_image }}" alt="..." class="img-thumbnail">
                      </a>
                  </div>
                  {% endfor %}
              </div>
          </div>
          <div class="tab-pane" id="mobile" role="tabpanel">
              <div class="row">
                  {% for game in unformat_mobile_list %}
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 py-2">
                      <a href="{% url 'TzarioGames:game' game.game_name %}" >
                        <img src="media/{{ game.game_image }}" alt="..." class="img-thumbnail">
                      </a>
                  </div>
                  {% endfor %}
              </div>
          </div>
          <div class="tab-pane" id="freeworld" role="tabpanel">
              <div class="row">
                  {% for game in unformat_freeworld_list %}
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 py-2">
                      <a href="{% url 'TzarioGames:game' game.game_name %}" >
                        <img src="media/{{ game.game_image }}" alt="..." class="img-thumbnail">
                      </a>
                  </div>
                  {% endfor %}
              </div>
          </div>
          <div class="tab-pane" id="strategy" role="tabpanel">
              <div class="row">
                  {% for game in unformat_strategy_list %}
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 py-2">
                      <a href="{% url 'TzarioGames:game' game.game_name %}" >
                        <img src="media/{{ game.game_image }}" alt="..." class="img-thumbnail">
                      </a>
                  </div>
                  {% endfor %}
              </div>
          </div>
        <div class="tab-pane" id="shooter" role="tabpanel">
            <div class="row">
                  {% for game in unformat_sooter_list %}
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 py-2">
                      <a href="{% url 'TzarioGames:game' game.game_name %}" >
                        <img src="media/{{ game.game_image }}" alt="..." class="img-thumbnail">
                      </a>
                  </div>
                  {% endfor %}
              </div>
        </div>
        <div class="tab-pane" id="racing" role="tabpanel">
            <div class="row">
                  {% for game in unformat_racing_list %}
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 py-2">
                      <a href="{% url 'TzarioGames:game' game.game_name %}" >
                        <img src="media/{{ game.game_image }}" alt="..." class="img-thumbnail">
                      </a>
                  </div>
                  {% endfor %}
              </div>
        </div>
        </div>
          </div>
        </div>
    </div>

</body>
</html>